.app {
  box-sizing: border-box;
  width: 40%;
  margin: 50px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 40px 0px;
}

.app-header {
  text-align: center;
  margin-bottom: 20px;
}
